body {
  border: 1px solid;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.header {
  border: 1px solid red;
}
.footer {
  border: 1px solid red;
}
.intro-section {
  height: 300px;
  border: 1px solid blue;
}
.main-section {
  border: 1px solid green;
}
